body {
	margin: 0;
}

.title-center {
	text-align: center;
}

.font-family-monospace {
	font-family: monospace;
}

.font-family-roboto {
	font-family: 'Roboto', sans-serif;
}

.fs-2em {
	font-size: 2em;
}

.fs-1em {
	font-size: 1em;
}

.fw-100 {
	font-weight: 100;
}

.fw-300 {
	font-weight: 300;
}

.fw-700 {
	font-weight: 700;
}

.nav-bar {
	width: 100%;
	background-color: #264763;
	height: 3em;
}

.title-nav-bar {
	text-align: center;
	color: white;
}

.margin-auto {
	margin: auto;
}

.pt-5 {
	padding-top: 5px;
}

.img-nav-bar {
	float: left;
    width: 2.5em;
    position: absolute;
}

.ml-2 {
	margin-left: 2px;
}

.ml-5 {
	margin-left: 5px;
}

.ml-3em {
	margin-left: 3em;
}

.mt-2em {
	margin-top: 2em;
}

.filter-bar {
	width: 50%;
    height: 2em;
}

.content-flex {
	display: flex;
}