.cursor-pointer {
    cursor: pointer;
}

.text-align-center {
    text-align: center;
}

tbody.cursor-pointer td {
    vertical-align: middle;
}

.date-row-table {
    margin: 0;
    font-weight: bold;
}

.date-row-table span {
    font-size: 2rem;
}

.title-row-table {
    margin: 0;
}

.blank-space { 
    display: block;
}

.link-style {
    color: #5bb3e0;
}

.word-break-all {
    word-break: break-all;
}